/* start of my code */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

/* variables */
:root {
    --backgroundLight: hsl(0, 0%, 95%);
    --backgroundDark: hsl(235, 21%, 11%);
    --todoBg: white;
    --heading-fc: white;
    --test-Bg: #dad4ed;
    --test-todos-bg: #f0eef8;
    --brightBlue: hsl(220, 98%, 61%);
    --font: hsl(235, 19%, 35%);
    --hrColor: black;
    --filterFont: hsl(234, 11%, 52%);
}

/* dark theme variables */
[data-theme="dark"] {
    --background: hsl(235, 21%, 11%);
    --heading-fc: white;
    --todoBg: hsl(235, 24%, 19%);
    --hrColor: hsl(236, 33%, 92%);
    --font: hsl(234, 39%, 85%);
    --filterFont: hsl(234, 11%, 52%);
    --fontStats: hsl(234, 11%, 52%);
}

* {
    font-family: 'Josefin Sans', sans-serif;
}

/* imported fonts */
.material-symbols-sharp {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.myContainer {
    min-height: 100vh;
    max-height: 100%;
    width: 100%;
    /* height: 100%; */
    /* background-color: var(--backgroundLight); */
    background-color: var(--test-Bg);
}

.myContainer[data-theme="dark"] {
    background-color: var(--backgroundDark);
}

/* top image */
.hero {
    background-image: url(../images/bg-mobile-light.jpg);
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover;
}

.hero[data-theme="dark"] {
    background-image: url(../images/bg-mobile-dark.jpg);
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: 10% 100%;
    background-size: cover;
}

/* inner container */
.innerContainer {
    padding: 0 6%;
    min-width: 325px;
    max-width: 600px;
    margin: 0 auto;
}

.innerContainer[data-theme="dark"] {
    /* padding: 0 6%;
    min-width: 325px;
    max-width: 600px;
    margin: 0 auto; */
    background-color: var(--todoBg);
}

/* heading / title */
.heading {
    position: relative;
    top: -165px;
    margin-bottom: -145px;
}

.heading h2, .heading span {
    font-size: 32px;
    margin: 0;
    color: var(--heading-fc);
}

.modeIcon {
    cursor: pointer;
}

/* create new todo */

.newTodoContainer {
    min-width: 325px;
    max-width: 600px;
    height: 60px;
    background-color: var(--todoBg);
    border-radius: 8px;
}

.newTodoContainer[data-theme="dark"] {
    min-width: 325px;
    max-width: 600px;
    height: 60px;
    border-radius: 8px;
    background-color: var(--todoBg);
}

.todoContainer {
    margin-top: 18px;
    background-color: var(--todoBg);
    border-radius: 8px; 
    /* change this border radius */
}

.todoContainer[data-theme="dark"] {
    margin-top: 18px;
    background-color: var(--todoBg);
    border-radius: 8px; 
    /* change this border radius */
}

/* .todoInnerContainer {
    height: 
} */

.todo {
    height: 60px;
    width: inherit;
}

.todo[data-theme="dark"] {
    height: 60px;
    width: inherit;
    background-color: var(--todoBg);
    border-radius: 8px;
}

.checkbox {
    /* margin: 15px 15px; */
    width: 50px;
    padding: 5px;
    cursor: pointer;
}

.circle {
    color: var(--font);
    /* opacity: .5s; */
    border-radius: 15px;
}

.circle[data-theme="dark"] {
    color: var(--font);
    border-radius: 15px;
}

.done {
    color: white;
    /* opacity: .5s; */
    background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    border-radius: 15px;
}

.done[data-theme="dark"] {
    color: var(--font);
    /* opacity: .5; */
    border-radius: 15px;
    background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    color: white;
}

.todo-input {
    width: fill;
    width: -moz-available;
}

.todo-input-new {
    margin-left: 40px;
}

.textInput {
    width: 100%;
    /* resize: none; */
    border: none;
    height: 45px !important;
    color: var(--font);
    font-weight: 500;
    font-size: 16px;
}

.textInput[data-theme="dark"] {
    width: 100%;
    /* resize: none; */
    border: none;
    height: 45px !important;
    font-weight: 500;
    font-size: 16px;
    color: var(--font);
    background-color: var(--todoBg);
}

.textInputChecked {
    width: 100%;
    /* resize: none; */
    border: none;
    height: 45px !important;
    color: var(--font);
    font-weight: 500;
    font-size: 16px;
    text-decoration: line-through solid var(--font) 1px;
}

.textInputChecked[data-theme="dark"] {
    width: 100%;
    /* resize: none; */
    border: none;
    height: 45px !important;
    font-weight: 500;
    font-size: 16px;
    color: var(--font);
    background-color: var(--todoBg);
    text-decoration: line-through solid var(--font) 1px;
}

.textInput:focus {
    outline: none;
}

.todo-delete {
    width: 50px;
}

.deleteIcon {
    cursor: pointer;
    color: var(--font);
}

.deleteIcon[data-theme="dark"] {
    cursor: pointer;
    color: var(--font);
}

.todoHr {
    width: 1px black;
    margin: 0;
    /* opacity: .5; */
    color: var(--hrColor);
}

.todoHr[data-theme="dark"] {
    width: 1px black;
    margin: 0;
    /* opacity: .5; */
    color: var(--hrColorDark);
}

.mapped-input {
    cursor: default;
}

/* stats & clear */
.stats {
    padding: 0px 13px;
}

.statsText {
    font-size: 14px;
}

.statsText[data-theme="dark"] {
    font-size: 14px;
    color: var(--fontStats);
}

.clearBtn {
    cursor: pointer;
}

.filters {
    margin-top: 18px;
    background-color: var(--todoBg);
    border-radius: 8px; 
    height: 60px;
}

.filterText {
    margin: 0 7%;
    font-weight: 600;
    color: var(--filterFont);
    cursor: pointer;
}

.filterText[data-theme="dark"] {
    margin: 0 7%;
    font-weight: 600;
    color: var(--filterFont);
    cursor: pointer;
}

.activeFilter {
    color: var(--brightBlue);
}

.activeFilter[data-theme="dark"] {
    color: var(--brightBlue);
}

/* footer */
.footer {
    width: 100%;
    height: 100px;
    margin-top: 18px;
    color: black;
}

.footer[data-theme="dark"] {
    color: white;
}

.dragTxt {
    color: var(--filterFont);
}

.dragTxt[data-theme="dark"] {
    color: var(--filterFont);
}


/* from frontend mentor */

.attribution { 
    font-size: 11px;
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

/* media queries for desktop */

@media screen and (min-width: 450px) {
    
    /* top image */
    .hero {
        background-image: url(../images/bg-desktop-light.jpg);
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-position: 50% 100%;
        background-size: cover;
}

    .hero[data-theme="dark"] {
        background-image: url(../images/bg-desktop-dark.jpg);
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-position: 10% 100%;
        background-size: cover;
}

    .innerContainer {
        padding: 0 30px;
        min-width: 325px;
        max-width: 600px;
        margin: 0 auto;
    }

    /* heading / title */
    .heading {
    position: relative;
    top: -165px;
    margin-bottom: -145px;
}

}

