/* start of my code */

/* variables */
:root {
    --backgroundLight: hsl(0, 0%, 95%);
    --backgroundDark: hsl(235, 21%, 11%);
    --todoBgLight: white;
    --heading-fc: white;
    --test-Bg: #dad4ed;
    --test-todos-bg: #f0eef8;
}

/* dark theme variables */
[data-theme="dark"] {
    --background: hsl(235, 21%, 11%);
    --heading-fc: white;
}

/* imported fonts */
.material-symbols-sharp {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.myContainer {
    min-height: 100vh;
    max-height: 100%;
    width: 100%;
    /* height: 100%; */
    /* background-color: var(--backgroundLight); */
    background-color: var(--test-Bg);
}

.myContainer[data-theme="dark"] {
    background-color: var(--backgroundDark);
}

/* top image */
.hero {
    background-image: url(../images/bg-mobile-light.jpg);
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover;
}

.hero[data-theme="dark"] {
    background-image: url(../images/bg-mobile-dark.jpg);
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: 10% 100%;
    background-size: cover;
}

/* inner container */
.innerContainer {
    padding: 0 7%;
}

/* heading / title */
.heading {
    position: relative;
    top: -165px;
    margin-bottom: -145px;
}

.heading h2, .heading span {
    font-size: 32px;
    margin: 0;
    color: var(--heading-fc);
}

.modeIcon {
    cursor: pointer;
}

/* create new todo */

.newTodoContainer {
    width: 325px;
    height: 60px;
    background-color: var(--todoBgLight);
    border-radius: 8px;
}

.todoContainer {
    margin-top: 18px;
    background-color: var(--todoBgLight);
    border-radius: 8px; 
    /* change this border radius */
}

/* .todoInnerContainer {
    height: 
} */

.todo {
    height: 60px;
    width: inherit;
}

.checkbox {
    /* margin: 15px 15px; */
    width: 50px;
}

.todo-input {
    width: 225px;
}

.textInput {
    width: 100%;
    /* resize: none; */
    border: none;
    height: 45px !important;
}

.textInput:focus {
    outline: none;
}

.todo-delete {
    width: 50px;
}

.todoHr {
    width: 1px black;
    margin: 0;
}

/* stats & clear */
.stats {
    padding: 0px 13px;
}

.statsText {
    font-size: 14px;
}

.filters {
    margin-top: 18px;
    background-color: var(--todoBgLight);
    border-radius: 8px; 
    height: 60px;
}

.filterText {
    margin: 0 4%;

}

/* footer */
.footer {
    width: 100%;
    height: 100px;
    margin-top: 18px;
    color: black;
}

.footer[data-theme="dark"] {
    color: white;
}


/* from frontend mentor */

.attribution { 
    font-size: 11px;
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}
